:root {
  --header-height: 2em; /* Adjust the height as needed */
  --footer-height: 2em; /* Adjust the height as needed */
}

/* Apply the font to the entire body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Optionally, set different font weights for headings and other elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; /* Bold font weight */
}

p,
span,
a,
li,
div {
  font-weight: 400; /* Regular font weight */
}

/* Style.css */
body,
html {
  height: 100%;
}

#main-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border: 2px solid green;
  width: 100%;
  height: var(--header-height);
}

footer {
  border: 2px solid green;
  margin-top: auto;
  width: 100%;
  height: var(--footer-height);
}

/* Active for Routes */
.active {
  border-bottom: 2px solid crimson;
}
